{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div id="content-wrapper" class="d-flex flex-column ubicacion">

  {% include 'includes/topbarHide.html' %}

  <div>
    <p class="bg-light text-body h4 text-center">CONSULTAS Y SUGERENCIAS</p>
  </div>
  <div class="container">
    <div class="row mt-lg-n10 mt-md-n11 mt-n10">
      <div class="col-xl-8 col-lg-5 col-md-7 mx-auto">
        <div class="card z-index-0" style="background-color:#bde5bf ;">
          <div class="card-header text-center pt-4" style="background-color:#bde5bf ;">
          </div>
          <div class="row px-xl-5 px-sm-4 px-3">

            <div class="mt-2 position-relative text-center">
              <p class="text-sm font-weight-bold mb-2 text-dark text-border d-inline z-index-2 px-3">
                {% if msg %}
                <span class="text-danger">{{ msg | safe }}</span>
                {% else %}
                DATOS
                {% endif %}
              </p>
            </div>
          </div>
          <div class="card-body">

            {% if success %}

            <p class="text-sm mt-3 mb-0 text-center">

            <div class="text-center">
              <a href="" class="btn bg-gradient-dark w-100 my-4 mb-2">Sign IN</a>
            </div>

            </p>

            {% else %}

            <form role="form text-left" method="post" action="">

              {{ form.hidden_tag() }}

              <label>Nombres:</label>
              <div class="mb-3">
                {{ form.nombres(placeholder="Nombres completos", class="form-control") }}
              </div>
              <label>Apellidos paterno</label>
              <div class="mb-3">
                {{ form.apellido_paterno(placeholder="Apellido paterno", class="form-control") }}
              </div>
              <label>Apellido materno</label>
              <div class="mb-3">
                {{ form.apellido_materno(placeholder="Apellido materno", class="form-control") }}
              </div>

              <label>Email</label>
              <div class="mb-3">
                {{ form.email(placeholder="ejemplo@gmail.com", class="input form-control", type="email") }}
              </div>
      
              <label>Asociación</label>
              <div class="mb-3">
                {{ form.asociacion(placeholder="Asociación o cooperativa", class="form-control") }}
              </div>

              <label>Mensaje</label>
              <div class="mb-3">
                {{ form.mensaje(placeholder="El mensaje debe tener como máximo 150 carácteres", class="form-control") }}
              </div>

              <div class="text-center">
                <button type="submit" name="register" class="btn text-white w-100 my-4 mb-2"
                  style="background-color: #9c27b0;">ENVIAR</button>
              </div>

              <!-- <p class="text-sm mt-3 mb-0 text-center">
                ¿Ya tienes una cuenta? <a href="/" class="text-dark font-weight-bolder">INICIAR SESIÓN</a>
              </p>
              -->
            </form>

            {% endif %}



          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}